
@{
    ViewBag.Title = "Index";
}

    <h4>HOSGELDİNİZ</h4>
    <div class="row">
        <!-- ============================================================== -->
        <!-- four widgets   -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- total views   -->
        <!-- ============================================================== -->
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <a class="main-links" href="/Prisoners/">
                <div class="card">
                    <div class="card-body">
                        <div class="d-inline-block">
               
                            <h2 class="mb-0"> Prisoners </h2>
                        </div>
                        <div class="float-right icon-circle-medium  icon-box-lg  bg-info-light mt-1">
                            <img width="60" src="~/Content/img/logo.png" alt="Alternate Text" />
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- ============================================================== -->
        <!-- end total views   -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- total followers   -->
        <!-- ============================================================== -->
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <a class="main-links" href="/OfficerRooms/">
                <div class="card">
                    <div class="card-body">
                        <div class="d-inline-block">
                    
                            <h2 class="mb-0"> Officers </h2>
                        </div>
                        <div class="float-right icon-circle-medium  icon-box-lg  bg-info-light mt-1">
                            <img width="60" src="~/Content/img/logo.png" alt="Alternate Text" />
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- ============================================================== -->
        <!-- end total followers   -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- partnerships   -->
        <!-- ============================================================== -->
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <a class="main-links" href="/Job/">
                <div class="card">
                    <div class="card-body">
                        <div class="d-inline-block">
                  
                            <h2 class="mb-0"> Jobs </h2>
                        </div>
                        <div class="float-right icon-circle-medium  icon-box-lg  bg-info-light mt-1">
                            <img width="60" src="~/Content/img/logo.png" alt="Alternate Text" />
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- ============================================================== -->
        <!-- end partnerships   -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- total earned   -->
        <!-- ============================================================== -->
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <a class="main-links" href="/Visits/">
                <div class="card">
                    <div class="card-body">
                        <div class="d-inline-block">
                     
                            <h2 class="mb-0"> Visits </h2>
                        </div>
                        <div class="float-right icon-circle-medium  icon-box-lg  bg-info-light mt-1">
                            <img width="60" src="~/Content/img/logo.png" alt="Alternate Text" />
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- ============================================================== -->
        <!-- end total earned   -->
        <!-- ============================================================== -->
    </div>
